<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>tdGameserver</display-name>
	
	<listener>
		<listener-class>de.tdng2011.game.webservice.StartupListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>gameServlet</servlet-name>
		<servlet-class>de.tdng2011.game.webservice.GameServlet</servlet-class>
	</servlet>

    <servlet>
		<servlet-name>worldServlet</servlet-name>
		<servlet-class>de.tdng2011.game.webservice.WorldServlet</servlet-class>
	</servlet>

    <servlet>
		<servlet-name>worldServletNG</servlet-name>
		<servlet-class>de.tdng2011.game.webservice.WorldServletNG</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gameServlet</servlet-name>
		<url-pattern>/gameService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>worldServlet</servlet-name>
		<url-pattern>/world</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>worldServletNG</servlet-name>
        <url-pattern>/worldNG</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>gameServlet</servlet-name>
		<url-pattern>/players/*</url-pattern>
	</servlet-mapping>
</web-app>